.opacity-none{
    opacity: 0;
}

.translate-y-50{
    transform: translateY(50px);
}

.opacity-fade-in{
    animation: opacity-from-zero-to-one 1s forwards;
}

@keyframes opacity-from-zero-to-one{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.hover-opacity-transition-parent-0:hover > .hover-opacity-transition-0{
    opacity: 0;
    visibility: hidden;
}

.hover-opacity-transition-0{
    transition: opacity .5s cubic-bezier(0.21, 0.5, 0.63, 0.94), visibility .5s cubic-bezier(0.21, 0.5, 0.63, 0.94);
    opacity: 1.0;
    visibility: visible;
}