.translate-x-100pc-pos-transition{
    transform: translateX(100%);
    transition: transform 1s ease-out;
}

.translate-x-100pc-neg-transition{
    transform: translateX(-100%);
    transition: transform 1s ease-out;
}

.translate-x-110pc-neg-animation{
    animation: translate-110pc-negative-animation 1s;
}

@keyframes translate-110pc-negative-animation{
    100%{
        transform: translateX(-110%);
    }
}